---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
---

<Layout>
    <main>
        <section class="w-full lg:w-[740px] mx-auto py-44">
            <h1
                class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10"
            >
                Hey, soy Diego
                <a
                    href="https://www.linkedin.com/in/diego-richard-ayme-pe%C3%B1a-b743561b8/"
                    target="_blank"
                    rel="noopener"
                    class="flex justify-center items-center"
                >
                    <Badge>Disponible para trabajar</Badge>
                </a>
            </h1>
            <h2 class="text-xl opacity-80">
                +15 años de experiencia. Desarrollador Web y Creador de
                Contenido. De Lima Peru. Especializado en crear aplicaciones
                unicas.
            </h2>
            <ul></ul>
        </section>
    </main>
</Layout>
