---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedinIcon from "../components/icons/Linkedin.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
---

<Layout>
    <main>
        <section class="w-full lg:w-[740px] mx-auto py-44">
            <img
                class="rounded-full w-12 h-12 mb-4"
                src="/public/img/yo.JPG"
                alt="Diego photo"
            />
            <h1
                class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10"
            >
                Hey, soy Diego
                <a
                    href="https://www.linkedin.com/in/diego-richard-ayme-pe%C3%B1a-b743561b8/"
                    target="_blank"
                    rel="noopener"
                    class="flex justify-center items-center"
                >
                    <Badge>Disponible para trabajar</Badge>
                </a>
            </h1>
            <h2 class="text-xl text-wrap">
                <span>+15 años de experiencia.</span>
                <span class="text-yellow-100/90"
                    >Desarrollador Web y Creador de Contenido.</span
                >
                <span class="text-red-100/90">De Lima Peru.</span>
                <span class="opacity-85"
                    >Especializado en crear aplicaciones unicas.</span
                >
            </h2>
            <nav class="flex py-10">
                <SocialPill
                    href="https://www.linkedin.com/in/diego-richard-ayme-pe%C3%B1a-b743561b8/"
                >
                    <LinkedinIcon class="w-10 h-10" />
                    Linkedin
                </SocialPill>

                <SocialPill href="https://github.com/iPapiDiego">
                    <GitHubIcon class="w-10 h-10" />
                    GitHub
                </SocialPill>
            </nav>
        </section>
    </main>
</Layout>
